body {

    text-align: center;
    background-color: #282c34;
}

.profile-display {
margin: 0 auto;
    background-color: #686868;
    width: 375px;
}

.profile-avi {
    border-radius: 50%;
    height: 20vh;
    width: 20vh;
}

.video-grid {
    margin: 0 auto;
    background-color: #aaa9a9;
    width: 375px;
    height: 50vh;
}